*.fasl
*~
/doc/erudite.aux
/doc/erudite.idx
/doc/erudite.log
/doc/erudite.out
/doc/erudite.tex
/doc/erudite.toc
/doc/texput.log
/erudite
/doc/erudite.dvi
/doc/erudite.ilg
/doc/erudite.ind
/doc/sphinx/_build
/test/output.aux
/test/output.idx
/test/output.ilg
/test/output.ind
/test/output.log
/test/output.out
/test/output.toc
